<div class="container">
  <div [hidden]="submitted">
    <h1>Hero Form</h1>
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          [(ngModel)]="name"
        />
      </div>

      <button
        type="submit"
        class="btn btn-success"
        [disabled]="!heroForm.form.valid"
        (click)="appelAuService();"
      >
        Submit
      </button>
    </form>
  </div>
  <!--<div *ngIf="userBernard.id > 5 ">
    <p>Affiche mon coco</p>
  </div>-->
</div>
